<div class="card mb-3">
  <img class="card-img-top" height='50%' src="http://www.w3schools.com/css/img_avatar.png" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{student.first_name}} {{student.last_name}}</h4>
    <p class="card-text"><b>Phone:</b> {{student.phone}}</p>
    <p class="card-text"><b>Email:</b> {{student.email}}</p>
    <p class="card-text"><b>Parent Phone:</b> {{student.parent_phone}}</p>
    <p class="card-text"><b>Parent Email:</b> {{student.parent_email}}</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
